<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Clinic Home Page</title>
</head>
<body>

<h1> Clinic Management</h1>

<div class="alert alert-danger" role="alert" th:if="${errorMessage != null or errors != null }"
     style="width: 300px;margin: 10px;">
    <span th:text=" ${errorMessage}" th:if="${errorMessage != null}"></span>

    <div th:if="${errors != null}">
        <ul>
            <li th:each="var : ${errors?.getAllErrors}">
                <td th:text="${var.field}"></td>
                <td th:text="${var.defaultMessage}"></td>
            </li>
        </ul>
    </div>
</div>

<form method="POST" th:action="@{/clinic/open}">

    <div class="bd-example" style="width: 400px;border: solid #f7f7f9;margin: 10px;padding: 10px;">
        <!--            <div th:if="${#fields.hasErrors()}">-->
        <!--                <span class="validationError">-->
        <!--                  Please correct the problems below and resubmit.-->
        <!--                </span>-->
        <!--            </div>-->
        <div style="display: inline-flex">
            <input type="date" name="date" id="datePicker1" required/>
            <input type="time" name="startTime" required> to <input type="time" name="endTime" required/>

        </div>
        <br/>
        <button type="submit" id="submitButton" class="btn btn-primary">Open Time</button>
    </div>
</form>

<div>
    <form method="GET">
        <h3>Pick a date to filter the times:</h3>
        <div style="display: inline-flex;margin: 10px">
            <input type="date" name="date" style="margin-left: 10px;" id="datePicker2" value="2024-3-3">
            <button type="submit" class="btn btn-primary" th:action="@{/clinic/times}">Search</button>

        </div>
    </form>
</div>

<br/>
<table id="times">
    <tr>
        <th>#</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Patient</th>
        <th>Actions</th>
    </tr>
    <tr th:each="time : ${times}">
        <td><span th:text="${time.id.id}"/></td>
        <td><span th:text="${time.start.year}"/>-
            <span th:text="${time.start.monthValue}"/>-
            <span th:text="${time.start.dayOfMonth}"/>
        </td>
        <!--            <td><span th:text="${#dates.format(time.start.toLocalDate(), 'yyyy-MM-dd HH:mm:ss')}"/></td>-->
        <td><span th:text="${time.end.year}"/>-
            <span th:text="${time.end.monthValue}"/>-
            <span th:text="${time.end.dayOfMonth}"/>
        </td>
        <td>
            <span th:text="${time.patient.name}" th:if="${time.taken == true}"/>
            <span th:text="${time.patient.phoneNumber}" th:if="${time.taken == true}"/>
        </td>
        <td>
            <form th:action="@{/clinic/times/remove}" method="post">
                <button type="submit" name="remove" th:value="${time.id.id}"
                        th:if="${time.taken == false or true}">Remove
                </button>
            </form>
        </td>
        </td>
    </tr>
</table>

<script>

</script>

</body>
</html>

