<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Clinic Home Page</title>
</head>
<body>

<h1> Clinic Management</h1>

<div>

    <!--        <li th:each="err : ${fields}" th:text="${err}" />-->

    <form method="POST" th:action="@{/clinic/open}" th:object="${info}">

        <div class="bd-example" style="width: 400px;border: solid #f7f7f9;margin: 10px;padding: 10px;">
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                  Please correct the problems below and resubmit.
                </span>
            </div>
            <div style="display: inline-flex">
<!--                <label for="year">Year</label>-->
                <input type="date" name="date">
                <input type="time" name="startTime"> to <input type="time" name="endTime">
<!--                <input type="text" class="form-control" id="year" placeholder="year" value="2024" th:field="*{year}" style="width: 60px">-->
<!--                <input type="text" class="form-control" id="month" placeholder="month" th:field="*{month}" style="width: 60px">-->
<!--                <input type="text" class="form-control" id="day" placeholder="day" th:field="*{day}" style="width: 60px">-->

            </div>
            <br/>
            <button type="submit" id="submitButton" class="btn btn-primary">Open times</button>
        </div>
    </form>

    <form method="POST" th:action="@{/clinic/remove}" th:object="${info}" id="appointmentForm">

        <table id="times">
            <tr>
                <th>#</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Patient</th>
                <th>Actions</th>
            </tr>
            <tr th:each="time : ${times}">
                <td><span th:text="${time.id.id}"/></td>
                <td><span th:text="${time.start.year}"/>-
                    <span th:text="${time.start.monthValue}"/>-
                    <span th:text="${time.start.dayOfMonth}"/>
                </td>
                <!--            <td><span th:text="${#dates.format(time.start.toLocalDate(), 'yyyy-MM-dd HH:mm:ss')}"/></td>-->
                <td><span th:text="${time.end.year}"/>-
                    <span th:text="${time.end.monthValue}"/>-
                    <span th:text="${time.end.dayOfMonth}"/>
                </td>
                <td>
                    <span th:text="${time.patient.name}" th:if="${time.taken == true}"/>
                    <span th:text="${time.patient.phoneNumber}" th:if="${time.taken == true}"/>
                </td>
                <td>
                    <button type="submit" name="remove" th:value="${time.id}" th:if="${time.taken == false}">Remove
                    </button>
                </td>
                </td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>

